<?=$header?>

		<div class="banner">
			<div class="wrapper pr">
				<ul class="layui-row layui-col-space1 menu-about">
					<li class="layui-col-xs6 layui-col-md2">
						<a href="<?=$site_url?>company/profile" class="actived">集团概况 </a>
					</li>
					<li class="layui-col-xs6 layui-col-md2">
						<a href="<?=$site_url?>company/culture">企业文化</a>
					</li>
					<li class="layui-col-xs6 layui-col-md2">
						<a href="<?=$site_url?>company/structure">组织架构</a>
					</li>
					<li class="layui-col-xs6 layui-col-md2">
						<a href="<?=$site_url?>company/honor">荣誉资质</a>
					</li>
					<li class="layui-col-xs6 layui-col-md2">
						<a href="<?=$site_url?>company/business">业务范围</a>
					</li>
				</ul>
				<div class="banner-text">
					<div class="title parent">
						<h2 class="f30 tb cW">关于华杰建设集团</h2>
						<p class="f12 pr cW">About of Hua Jie Construction Group</p>
					</div>
				</div>
			</div>
		</div>

		</div>
		<article class="index-content">
			<div class="wrapper">
			   <div class="pt10 now-address"><img src="<?=$statics_url?>front/img/icpsp1_n_right_wz.jpg"/> 首页 > 关于华杰建设集团 > <b>集团概况</b></div>
			</div>
			<?=$info['content']?>
			<?=$qualification['content']?>
			<?=$talent['content']?>
			<?=$developing['content']?>
			<?=$footer?>
		</article>
		
	</body>

</html>